<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
    <property name="dialect">NHibernate.Dialect.Cache71Dialect, NHibernate.CacheDb</property>
    <property name="connection.driver_class">NHibernate.Driver.CacheClientDriver, NHibernate.CacheDb</property>
    <property name="connection.connection_string">Server=[Cache Server]; Namespace = [Cache Namespace]; Password = [Password]; User ID = [User Name];</property>
    <property name="show_sql">true</property>
  </session-factory>
</hibernate-configuration>